<h1>New user</h1>

<%= form_for(@user, html: { multipart: true }) do |f| %>
  <% content_for :avatar do %>
    <div class="field">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %><br>
    </div>
  <% end %>

  <%= render 'form', form: f %>
<% end %>

<%= link_to 'Back', users_path %>

