<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar:</strong>
</p>

<p>
  <%= @user.avatar.url %>
</p>

<p>
  <%= image_tag @user.avatar.url, class: 'cropper' %>
</p>

<div class="preview">
  <%= image_tag @user.avatar.url %>
</div>

<p>
  <%= @user.avatar.url(:thumb) %>
</p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
